// Place all the styles related to the pages controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group
.form-control:last-child{
  width: 25%;
}

.container2  {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}
.one {
  width: 50%;
  height: 200px;
  float: left;
}
.two {
  margin-left: 50%;
  height: 200px;
}
